@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        A diverse digital company originated from Dhaka, Bangladesh.
    </p>

</article>

<aside>
    <h3>Site Navigation</h3>
    <p>
        Click links below to navigate major pages of the site
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li><a href="http://tech.saoslab.com">Blog</a></li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>